.semester-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    height: 110vh; 
  }
  
  .semester-box {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
   width: 30rem; 
    margin-right: 20px;
    box-sizing: border-box;
    height: 20rem;
    color:white;
  }
  
  .subject {

    background-color: #260669;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .semester-heading {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  @media (max-width: 1460px){
    .semester-container {
      
        height: 140vh; 
      }
  } 
  @media (max-width: 991px) {
    .semester-container {
      
        height: 250vh; 
      }
  }
  
  @media (max-width: 767px) {
    .semester-container {
      
        height: 280vh;
      }
    .semester-box {
        width: 22rem; 
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }